# Loading data

In [125]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import time 

jobs = pd.read_csv('./csv_out/stackoverflow_jobs_enhanced.csv', thousands=',')

# Filtering for important columns & splitting

In [127]:
tmp = jobs.loc[:,['jobid', 'city', 'state', 'country', 'tags', 'weeknum', 'salary', 'salary_low', 'salary_high', 'currency', 'equity']]

tag_split = lambda x: pd.Series([i for i in x[1:-1].split(',')])
tag_splitted = tmp['tags'].apply(tag_split)

tag_splitted = tag_splitted.fillna('')

In [128]:
t = []

for i in range(0, len(tmp)):    
    num_tags = len(tag_splitted.iloc[i])
    for j in range(0,num_tags):
        tech = tag_splitted.iloc[i][j]        
        if tech == '': break
        # creating new row 
        new_row = {}
        new_row['jobid'] = tmp.iloc[i]['jobid']
        new_row['city'] = tmp.iloc[i]['city']
        new_row['state'] = tmp.iloc[i]['state']
        new_row['country'] = tmp.iloc[i]['country']
        new_row['weeknum'] = tmp.iloc[i]['weeknum']
        new_row['salary_low'] = tmp.iloc[i]['salary_low']
        new_row['salary_high'] = tmp.iloc[i]['salary_high']
        new_row['equity'] = tmp.iloc[i]['equity']
        new_row['currency'] = tmp.iloc[i]['currency']            
        new_row['tech'] = tech
        # adding 
        t.append(new_row)
        
technologies = pd.DataFrame(t)

In [129]:
technologies.dtypes

city           object
country        object
currency       object
equity           bool
jobid           int64
salary_high     int64
salary_low      int64
state          object
tech           object
weeknum         int64
dtype: object

In [141]:
# getting the mean figure for salary
technologies['salary_mean'] = technologies[['salary_high','salary_low']].mean(axis=1)

technologies.fillna('', inplace=True)
technologies.head(355)

,city,country,currency,equity,jobid,salary_high,salary_low,state,tech,weeknum,salary_mean
0,Saint Petersburg,US,$,True,125541,75000,45000,FL,angularjs,43,60000
1,Saint Petersburg,US,$,True,125541,75000,45000,FL,html5,43,60000
2,Saint Petersburg,US,$,True,125541,75000,45000,FL,css3,43,60000
3,Saint Petersburg,US,$,True,125541,75000,45000,FL,javascript,43,60000
4,Saint Petersburg,US,$,True,125541,75000,45000,FL,rest,43,60000
5,East Greenwich,US,,False,125540,0,0,RI,c++,43,0
6,East Greenwich,US,,False,125540,0,0,RI,boost,43,0
7,East Greenwich,US,,False,125540,0,0,RI,stl,43,0
8,East Greenwich,US,,False,125539,0,0,RI,c++,43,0
9,East Greenwich,US,,False,125539,0,0,RI,python,43,0
10,East Greenwich,US,,False,125538,0,0,RI,python,43,0
11,East Greenwich,US,,False,125538,0,0,RI,amazon-web-services,43,0
12,East Greenwich,US,,False,125538,0,0,RI,linux,43,0
13,McLean,US,,False,125537,0,0,VA,c++,43,0
14,McLean,US,,False,125537,0,0,VA,embedded,43,0
15,McLean,US,,False,125537,0,0,VA,reverse-engineering,43,0
16,McLean,US,,False,125537,0,0,VA,java,43,0
17,McLean,US,,False,125537,0,0,VA,python,43,0
18,New York,US,,False,125198,0,0,NY,user-interface,43,0
19,New York,US,,False,125198,0,0,NY,python,43,0
20,New York,US,,False,125198,0,0,NY,chemistry,43,0
21,New York,US,,False,125198,0,0,NY,physics,43,0
22,New York,US,,False,125198,0,0,NY,oop,43,0
23,San Francisco,US,$,False,125536,300000,200000,CA,security,43,250000
24,San Francisco,US,$,False,125536,300000,200000,CA,encryption,43,250000
25,San Francisco,US,$,False,125536,300000,200000,CA,cryptography,43,250000
26,San Francisco,US,$,False,125536,300000,200000,CA,amazon-web-services,43,250000
27,San Francisco,US,$,False,125536,300000,200000,CA,authentication,43,250000
28,San Francisco,US,$,False,125535,350000,200000,CA,scikit-learn,43,275000
29,San Francisco,US,$,False,125535,350000,200000,CA,apache-spark,43,275000
...,...,...,...,...,...,...,...,...,...,...,...
325,Rotterdam,Netherlands,,False,127439,0,0,,scrum,43,0
326,Rotterdam,Netherlands,,False,127439,0,0,,zend-framework,43,0
327,Rotterdam,Netherlands,,False,127439,0,0,,tdd,43,0
328,Rotterdam,Netherlands,,False,127439,0,0,,unit-testing,43,0
329,Rotterdam,Netherlands,,False,127438,0,0,,php,43,0
330,Rotterdam,Netherlands,,False,127438,0,0,,scrum,43,0
331,Rotterdam,Netherlands,,False,127438,0,0,,zend-framework,43,0
332,Rotterdam,Netherlands,,False,127438,0,0,,tdd,43,0
333,Rotterdam,Netherlands,,False,127438,0,0,,unit-testing,43,0
334,Rotterdam,Netherlands,,False,127437,0,0,,php,43,0
335,Rotterdam,Netherlands,,False,127437,0,0,,scrum,43,0
336,Rotterdam,Netherlands,,False,127437,0,0,,zend-framework,43,0
337,Rotterdam,Netherlands,,False,127437,0,0,,tdd,43,0
338,Rotterdam,Netherlands,,False,127437,0,0,,unit-testing,43,0
339,Rotterdam,Netherlands,,False,127436,0,0,,php,43,0
340,Rotterdam,Netherlands,,False,127436,0,0,,scrum,43,0
341,Rotterdam,Netherlands,,False,127436,0,0,,zend-framework,43,0
342,Rotterdam,Netherlands,,False,127436,0,0,,tdd,43,0
343,Rotterdam,Netherlands,,False,127436,0,0,,unit-testing,43,0
344,Rotterdam,Netherlands,,False,127434,0,0,,php,43,0
345,Rotterdam,Netherlands,,False,127434,0,0,,scrum,43,0
346,Rotterdam,Netherlands,,False,127434,0,0,,zend-framework,43,0
347,Rotterdam,Netherlands,,False,127434,0,0,,tdd,43,0
348,Rotterdam,Netherlands,,False,127434,0,0,,unit-testing,43,0
349,Belrose,Australia,,False,127433,0,0,,javascript,43,0
350,Belrose,Australia,,False,127433,0,0,,frontend,43,0
351,Belrose,Australia,,False,127433,0,0,,angular,43,0
352,Belrose,Australia,,False,127433,0,0,,sydney,43,0
353,Hamburg,Germany,€,False,125532,60000,50000,,angularjs,43,55000
354,Hamburg,Germany,€,False,125532,60000,50000,,javascript,43,55000

In [ ]:
# Number of techs by city

In [162]:
technologies[technologies.city == 'London'].groupby(['city', 'tech'])['jobid'].count().sort_values()

city    tech
London  "hapi"                       1
         voldemort                   1
         vmware                      1
         visual-studio-2012          1
         visual-studio               1
         vidispine                   1
         video                       1
         vert.x                      1
         vast                        1
         ux                          1
         uwp-xaml                    1
         uwp                         1
         user-interface              1
         user-experience             1
        "systems"                    1
         unityscript                 1
        "t-sql"                      1
         umbraco                     1
         ui                          1
        "tableau"                    1
         turbogears2                 1
         tornado                     1
        "task-parallel-library"      1
        "tcserver"                   1
         vtk                         1
        "flex3"                      1
        "svn"                        1
         windows                     1
        "analytics"                  1
        "analysis"                   1
                                  ...
        "ios"                       27
         amazon-web-services        28
         java                       29
        "docker"                    30
        ".net"                      34
        "html5"                     35
        "ruby-on-rails"             35
        "sysadmin"                  36
         python                     37
        "scala"                     38
        "reactjs"                   39
        "c++"                       41
        java                        41
        "mysql"                     41
        "sql"                       45
        "css"                       49
        "tdd"                       51
        "ruby"                      52
         javascript                 52
        "php"                       53
        "agile"                     53
        "node.js"                   55
        "html"                      57
        "linux"                     58
        "angularjs"                 66
        "amazon-web-services"       89
        "c#"                        91
        "python"                   113
        "java"                     178
        "javascript"               184
Name: jobid, dtype: int64

In [150]:
technologies[technologies.city == 'London'].sort_values(by='tech')

,city,country,currency,equity,jobid,salary_high,salary_low,state,tech,weeknum,salary_mean
12446,London,UK,,False,124055,0,0,,.net,35,0.0
24032,London,UK,£,True,107332,75000,35000,,.net,42,55000.0
1263,London,UK,,False,121818,0,0,,.net,30,0.0
1045,London,UK,£,False,121844,47303,40000,,.net,30,43651.5
23363,London,UK,£,False,123251,35000,25000,,.net,42,30000.0
16011,London,UK,,False,120496,0,0,,.net,38,0.0
20455,London,UK,£,False,122852,55000,45000,,.net,41,50000.0
3818,London,UK,,False,89913,0,0,,.net,31,0.0
23109,London,UK,,False,127017,0,0,,.net,42,0.0
23798,London,UK,£,False,127100,60000,40000,,.net,42,50000.0
1825,London,UK,,False,94815,0,0,,.net,30,0.0
12322,London,UK,,False,124080,0,0,,.net,35,0.0
2924,London,UK,,False,122185,0,0,,accessibility,31,0.0
1447,London,UK,,False,119574,0,0,,activemq,30,0.0
23795,London,UK,£,False,127100,60000,40000,,agile,42,50000.0
14799,London,UK,,False,124820,0,0,,agile,37,0.0
1235,London,UK,,False,119465,0,0,,agile,30,0.0
22364,London,UK,,False,123034,0,0,,agile,41,0.0
16019,London,UK,,False,121363,0,0,,agile,38,0.0
13730,London,UK,,False,109791,0,0,,agile,36,0.0
1232,London,UK,,False,119468,0,0,,agile,30,0.0
7622,London,UK,,False,118363,0,0,,agile,32,0.0
16156,London,UK,,False,124899,0,0,,agile,38,0.0
7615,London,UK,,False,118364,0,0,,agile,32,0.0
12656,London,UK,£,False,117506,75000,45000,,agile,35,60000.0
22359,London,UK,,False,124991,0,0,,agile,41,0.0
1022,London,UK,£,False,121846,80000,60000,,agile,30,70000.0
13737,London,UK,,False,109367,0,0,,agile,36,0.0
7630,London,UK,,False,118361,0,0,,agile,32,0.0
1142,London,UK,,False,119470,0,0,,agile,30,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1836,London,UK,£,False,119768,55000,45000,,ruby-on-rails,30,50000.0
1866,London,UK,£,False,119767,38000,30000,,ruby-on-rails,30,34000.0
13760,London,UK,£,False,124506,50000,30000,,ruby-on-rails,36,40000.0
16608,London,UK,£,False,125338,40000,30000,,ruby-on-rails,38,35000.0
24275,London,UK,£,False,127186,65000,35000,,salesforce,42,50000.0
3840,London,UK,£,False,122279,55000,50000,,scala,31,52500.0
1446,London,UK,,False,119574,0,0,,scala,30,0.0
14938,London,UK,,False,123255,0,0,,scala,37,0.0
21888,London,UK,£,False,126918,80000,50000,,scala,41,65000.0
23383,London,UK,,False,123244,0,0,,scala,42,0.0
1569,London,UK,,False,118704,0,0,,security,30,0.0
18641,London,UK,,False,126357,0,0,,selenium,40,0.0
18246,London,UK,,False,124213,0,0,,selenium,40,0.0
5697,London,UK,£,False,81540,25000,15000,,selenium-webdriver,32,20000.0
6425,London,UK,,False,116006,0,0,,seo,32,0.0
401,London,UK,£,False,127459,42000,38000,,software-development,43,40000.0
14291,London,UK,£,False,124649,70000,50000,,sql,36,60000.0
20452,London,UK,£,False,122852,55000,45000,,sql-server,41,50000.0
14798,London,UK,,False,124820,0,0,,swift,37,0.0
23681,London,UK,,False,123237,0,0,,tdd,42,0.0
23794,London,UK,£,False,127100,60000,40000,,tdd,42,50000.0
21235,London,UK,,False,124837,0,0,,tdd,41,0.0
1140,London,UK,,False,119470,0,0,,tdd,30,0.0
2726,London,UK,,False,108222,0,0,,unix,31,0.0
22073,London,UK,£,False,122690,60000,45000,,user-experience,41,52500.0
8171,London,UK,,False,121430,0,0,,vagrant,33,0.0
25209,London,UK,£,False,127345,35000,25000,,virtualization,42,30000.0
18164,London,UK,,False,126250,0,0,,web-apps,40,0.0
8233,London,UK,,False,121415,0,0,,windows,33,0.0
6447,London,UK,,False,113607,0,0,,windows,32,0.0

In [163]:
tag_splitted

,0,1,2,3,4,5
0,angularjs,html5,css3,javascript,rest,
1,c++,boost,stl,,,
2,c++,python,,,,
3,python,amazon-web-services,linux,,,
4,c++,embedded,reverse-engineering,java,python,
5,user-interface,python,chemistry,physics,oop,
6,security,encryption,cryptography,amazon-web-services,authentication,
7,scikit-learn,apache-spark,pyspark,numpy,,
8,c++,linux-kernel,dpdk,ip,networking,
9,go,postgresql,distributed-computing,amazon-web-services,,
10,python,django,javascript,jenkins,continuous-integration,
11,c#,.net,asp.net,html,javascript,
12,html5,css,java,angularjs,twitter-bootstrap,
13,python,django,react.js,mysql,,
14,c#,web-services,asp.net-mvc,xamarin,,
15,selenium,phantomjs,automated-tests,qa,python,
16,jira,confluence,produktmanager,spezifikation,anforderungen,
17,javascript,reactjs,tdd,git,agile,
18,node.js,durandal,knockout-3.0,angularjs,reactjs,
19,node.js,mongodb,sql,tdd,agile,
20,c,c++,uml,,,
21,javascript,demandware,,,,
22,angularjs,javascript,breeze,gruntjs,html,
23,php,symfony2,android,css,javascript,
24,symfony2,php,symfony3,composer-php,domain-driven-design,
25,php,jquery,mysql,solr,phpunit,
26,ruby-on-rails,activerecord,rspec,git,,
27,javascript,java,python,,,
28,javascript,java,python,qa,mobile,sysadmin
29,web,html,css,javascript,phpstorm,
...,...,...,...,...,...,...
20098,"""java""","""spring""","""hibernate""","""postgresql""",,
20099,"""java""","""c++""","""algorithm""","""linux""","""anomaly-detection""",
20100,"""cloud""","""amazon-web-services""","""sip""","""linux""","""mysql""","""sysadmin"""
20101,"""ruby""","""postgresql""","""tdd""","""ruby-on-rails""","""rspec""",
20102,"""golang""","""java""","""puppet""","""salt""","""phyton""",
20103,"""postgresql""","""sql""","""pl""","""python""","""javascript""",
20104,"""mysql""","""javascript""","""php""","""css""","""jquery""",
20105,"""wicket""","""struts""","""javascript""","""html""","""css""",
20106,"""testing""","""automated-tests""","""integration-testing""","""linux""","""python""",
20107,"""php""","""rest""","""mysql""","""design-patterns""","""message-queue""",
20108,"""c++""","""java""","""3d""","""graphics""","""gpu""",
20109,"""javascript""","""angularjs""","""amazon-web-services""","""knockout.js""","""ember.js""",
20110,"""android""","""ios""","""objective-c""","""swift""","""cross-platform""",
20111,"""tdd""","""react""","""angular.js""","""ruby-on-rails""","""ruby""",
20112,"""java""","""java-ee""","""sql""",,,
20113,"""javascript""","""node.js""","""model-view-controller""","""perl""","""angularjs""",
20114,"""php""","""javascript""","""node.js""","""angularjs""","""reactjs""",
20115,"""linux""","""linux-kernel""","""mysql""","""python""",,
20116,"""javascript""","""amazon-web-services""","""java""","""c#""","""git""",
20117,"""python""","""neo4j""","""flask""","""py2neo""","""redis""",
20118,"""gherkin""","""cucumber""","""ruby""","""calabash""","""selenium""",
20119,"""java""","""sap""","""hybris""","""entwickler""",,
20120,"""c#""",""".net""","""sql""","""javascript""",,
20121,"""hazelcast""","""java""","""cloudfoundry""","""amazon-web-services""","""distributed-computing""",
20122,"""xml""","""xmlschemaset""","""json""",,,
20123,"""java""","""scala""","""c#""",""".net""","""bigdata""",
20124,"""c""","""c++""","""git""","""tcp""","""rcs""",
20125,"""automated-tests""","""performance-testing""","""jira""","""penetration-testing""",,
20126,"""c++""","""unreal-engine4""","""artificial-intelligence""",,,
20127,"""html""","""css""","""adobe""",,,

In [165]:
tmp.tags

0               [angularjs, html5, css3, javascript, rest]
1                                        [c++, boost, stl]
2                                            [c++, python]
3                     [python, amazon-web-services, linux]
4        [c++, embedded, reverse-engineering, java, pyt...
5        [user-interface, python, chemistry, physics, oop]
6        [security, encryption, cryptography, amazon-we...
7             [scikit-learn, apache-spark, pyspark, numpy]
8                [c++, linux-kernel, dpdk, ip, networking]
9        [go, postgresql, distributed-computing, amazon...
10       [python, django, javascript, jenkins, continuo...
11                   [c#, .net, asp.net, html, javascript]
12        [html5, css, java, angularjs, twitter-bootstrap]
13                       [python, django, react.js, mysql]
14                [c#, web-services, asp.net-mvc, xamarin]
15       [selenium, phantomjs, automated-tests, qa, pyt...
16       [jira, confluence, produktmanager, spezifikati...
17                  [javascript, reactjs, tdd, git, agile]
18       [node.js, durandal, knockout-3.0, angularjs, r...
19                     [node.js, mongodb, sql, tdd, agile]
20                                           [c, c++, uml]
21                                [javascript, demandware]
22          [angularjs, javascript, breeze, gruntjs, html]
23               [php, symfony2, android, css, javascript]
24       [symfony2, php, symfony3, composer-php, domain...
25                     [php, jquery, mysql, solr, phpunit]
26               [ruby-on-rails, activerecord, rspec, git]
27                              [javascript, java, python]
28        [javascript, java, python, qa, mobile, sysadmin]
29                  [web, html, css, javascript, phpstorm]
                               ...
20098           ["java","spring","hibernate","postgresql"]
20099    ["java","c++","algorithm","linux","anomaly-det...
20100    ["cloud","amazon-web-services","sip","linux","...
20101    ["ruby","postgresql","tdd","ruby-on-rails","rs...
20102           ["golang","java","puppet","salt","phyton"]
20103      ["postgresql","sql","pl","python","javascript"]
20104          ["mysql","javascript","php","css","jquery"]
20105        ["wicket","struts","javascript","html","css"]
20106    ["testing","automated-tests","integration-test...
20107    ["php","rest","mysql","design-patterns","messa...
20108                 ["c++","java","3d","graphics","gpu"]
20109    ["javascript","angularjs","amazon-web-services...
20110    ["android","ios","objective-c","swift","cross-...
20111    ["tdd","react","angular.js","ruby-on-rails","r...
20112                             ["java","java-ee","sql"]
20113    ["javascript","node.js","model-view-controller...
20114    ["php","javascript","node.js","angularjs","rea...
20115            ["linux","linux-kernel","mysql","python"]
20116    ["javascript","amazon-web-services","java","c#...
20117          ["python","neo4j","flask","py2neo","redis"]
20118    ["gherkin","cucumber","ruby","calabash","selen...
20119                 ["java","sap","hybris","entwickler"]
20120                     ["c#",".net","sql","javascript"]
20121    ["hazelcast","java","cloudfoundry","amazon-web...
20122                        ["xml","xmlschemaset","json"]
20123               ["java","scala","c#",".net","bigdata"]
20124                        ["c","c++","git","tcp","rcs"]
20125    ["automated-tests","performance-testing","jira...
20126    ["c++","unreal-engine4","artificial-intelligen...
20127                               ["html","css","adobe"]
Name: tags, dtype: object